/* in main */
.block {
    overflow: auto;
    max-height: max(85vh, 742px);
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid rgb(236, 236, 237);
    max-width: 250px;
    min-width: 250px;
}

/* in main */
.sub-block {
    min-width: 0;
    width: 100%;
    flex: 1 1 auto;
    padding-left: 20px;
}

/* in main */
.header-block{
    margin: 20px;
    -moz-box-align: center;
    align-items: center;
}

h5 {
    margin: 0;
}

/* in main */
.file-reader-block {
    max-height: max(85vh, 742px);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    border: 1px solid rgb(230, 230, 239);
    border-radius: 10px;
    width: 100%;
}

.element {
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
    align-items: center;
    display: flex;
}

.text {
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 20px;
    margin-left: 8px;
    margin-bottom: 0;
    align-items: center;
    white-space: nowrap;
}

ul, ol {
    list-style: none;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.first-ul{
    padding: 0;
    margin-left: 0;
}

.next-ul{
    padding: 0; /* Убираем поля */
    margin-left: 16px; /* Отступ слева */
}

.table {
    flex-direction: column;
    display: flex;
    max-height: fit-content;
    overflow-x: auto;
}



/*in info*/
/*in rating*/
.content-box {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 4px;
    width: 100%;
    min-height: 48px;
    border: 1px solid rgb(236, 236, 237);
}

/*in rating*/
.rating-title {
    padding: 10px 10px 10px 10px;
}

/*in rating*/
.choose-rating{
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    align-items: center;
}