label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

a{
  outline: none;
  text-decoration: none !important;
}   

body {
  padding-top: 3.5rem;
}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

/* in info */
.apply-button{
  align-items: center;
  background-color: rgb(32, 33, 36);
  border-radius: 20px;
  border: medium none;
  cursor: pointer;
  display: inline-flex;
  height: 36px;
  padding: 0px 24px;
  width: fit-content;
}

/* in info */
.apply-button:hover{
  outline: none;
  box-shadow: rgb(60 64 67 / 30%) 0px 2px 3px 0px, rgb(60 64 67 / 15%) 0px 6px 10px 4px;
  background-color: rgb(32, 33, 36);
  border: none;
}

/* in info */
.text-in-apply-button{
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  white-space: nowrap;
}


.white-apply-button {
  align-items: center;
  background-color: transparent;
  border: 1px solid rgb(189, 193, 198);
  transition: all 0.3s ease 0s;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  height: 36px;
  padding: 0px 24px;
}



/* in info */
.text-in-white-apply-button {
  color: rgb(32, 33, 36);
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.white-apply-button:hover {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  border: 1px solid rgb(32, 33, 36);
}
